# ── Django ────────────────────────────────────────────────────
SECRET_KEY=change-me-generate-a-long-random-string-50-chars-min
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# ── PostgreSQL ────────────────────────────────────────────────
DB_NAME=rebois_connect
DB_USER=rebois_user
DB_PASSWORD=change-me-strong-password

# ── Redis ─────────────────────────────────────────────────────
REDIS_PASSWORD=change-me-redis-password

# ── MinIO ─────────────────────────────────────────────────────
MINIO_ROOT_USER=rebois_admin
MINIO_ROOT_PASSWORD=change-me-minio-password
MINIO_BUCKET_KYC=kyc-documents
MINIO_BUCKET_PROPOSALS=proposal-documents
MINIO_BUCKET_PROOFS=project-proofs
MINIO_BUCKET_CONTRACTS=contracts
MINIO_BUCKET_CERTIFICATES=certificates

# ── Sentry (monitoring erreurs) ───────────────────────────────
SENTRY_DSN=

# ── Email ─────────────────────────────────────────────────────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ── OpenWeatherMap ────────────────────────────────────────────
OPENWEATHER_API_KEY=

# ── Frontend ──────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:8001

# ── Admin sécurisé ────────────────────────────────────────────
ADMIN_URL=admin-secure-rebois
ADMIN_IP_WHITELIST=127.0.0.1
