# Environnement
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Django
staticfiles/
media/
*.sqlite3

# Node
node_modules/
.next/
.nuxt/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
